body{
    margin: 0;
}

nav{
background-color: aqua;
height: 40px;
display: flex;
align-items: center;
justify-content: space-around;
margin-bottom: 40px;
}

nav a{
    color: saddlebrown rgd (246, 142, 44);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

nav a:nth-child(){
    font-size: 20pt;
    font-weight: 700;
}

section{
    height: 300pt;
    background-color: white;
    display: flex;
    justify-content: center;
}

Section div{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    height: 150pt;
    align-items: center;

    
}

div input{
   margin-bottom: 5pt;
}

div input:nth-child(4){
    margin-top: 30pt;
    width: 60pt; 
    background-color: aqua;
    border: none;
    border-radius: 10pt;
    box-shadow: 1px 0px 9px  black;
}

section div input:focus{
    background-color: rgb(246, 142, 44);
    font-size: 8pt;
    text-align: center;
}

div input{ 
    height: 50px;
    width: 200px;
}

footer{
width: 100pt;
height: 100pt;
background-color: black; 
}  

footer  button{
    color: white;
}






    
    
 












